body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.container {
    width: 60%;
}
h1 {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.card {
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.list-group-item {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease-in-out;
}
.list-group-item:hover {
    transform: translateY(-2px);
}
